.ClientList {
    padding: 10px;
}

.ClientListHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid #BD9CA4;
    padding: 20px 10px;
    color: grey;
}

.ClientListEmpty {
    padding: 6px;
    color: grey;
}