.Client {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 80px;
    padding: 4px;
}

.firstCol {
    width: 80px;
}

.button.remove {
    font-size: large;
}