.NewClient {
    text-align: left;
}

.NewClient .icon {
    margin-right: 10px;
}

.NewClientHeader {
    display: inline-block;
}

.NewClientHeader:hover {
    color: dimgrey;
    cursor: pointer;
}