.NewClient {
    text-align: left;
}

.NewClient .icon {
    margin-right: 10px;
}

.NewClientHeader {
    display: inline-block;
}

.NewClientHeader:hover {
    color: dimgrey;
    cursor: pointer;
}

.NewClientForm {
    /*display: flex;*/
    /*align-items: flex-end;*/
}

.NewClientForm .row {
    display: flex;
    align-items: flex-end;
}

.NewClientForm .col {
    /*padding: 4px 14px;*/
}